@labelcolour : #222222;
@textInputBackground : #FFFFFF;
@textInputBorder : #D1D2CB;
@textInputShadow : rgba(0, 0, 0, 0.15);
@textInputActive : #F2F8FA;
@textInputActiveBorder : #CCE2EB;
@textInputMandatory : #FFFCF6;
@submitTopSeperator : #EDEDEA;
@submitButtonBackground : #FFFFFF;
@submitButtonBorder : #4997B7;
@submitButtonBorderBottom : #155983;
@submitButtonFontColor : #FFFFFF;
@submitButtonBackground : #4997b7;
@submitButtonGradientTop : #5BA1BE;
@submitButtonGradientBottom : #347EA2;
@submitButtonGradientTopIE : '#FF5BA1BE';
@submitButtonGradientBottomIE : '#FF347EA2';
@clearButtonFontColor : #4997b7;
@submitButtonHoverBackground : #327EA2;
@submitButtonHoverBackgroundIE: '#FF327EA2';
@clearButtonTextColor : #4997B7;
@clearButtonTextColorHover : #DE3919;
@submitDivTop : #EDEDEA;
@submitDivBackgroundColor : #F5F5F5;
@failBackgroundColour: #F8EBED;
@failTextColour : #BC3B4C;
@failBorderColour : #F2D8DB;
@successBackgroundColour: #F4F6EB;
@successTextColour : #5C8056;
@successBorderColour : #EAEEDB;
@paragraphHeader: #222222;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  //add *behaviour("styles/boxSizing.htc");  after this in css.
 }
 
#calculator{
padding-top:20px;
border-top:1px #D1D2CB solid;
float:left;
width: 100%;
  label {
      font-family: Arial, sans-serif;
      font-weight:bold;
      font-size:13px;
      line-height:18px;
      color:@labelcolour;
  	float: left;
      clear:left;
  }
  .mandatory{
    background: @textInputMandatory;
    }

  input//, select
  {
      width:330px;
      height:25px;
   //   *width:322px;
    //  *padding-top:3px;
     // *height:22px;
      margin-bottom:20px;
      padding-left:5px;
      background: @textInputBackground;
      border:1px solid @textInputBorder;
      font-size:13px;
      font-weight:normal;
      line-height:18px;
      float:left;
      clear:left;
      margin-top:10px;
      border-radius:2px;
    -webkit-box-shadow: inset 0 1px 2px @textInputShadow;
    -moz-box-shadow: inset 0 1px 2px @textInputShadow;
    box-shadow: inset 0 1px 2px @textInputShadow;
     outline: none; 
      }
#JS-selectCaps{
    position:relative;
    width:330px;
    border-radius:2px;
    float:left;
    clear:left;
    margin-top:10px;
    margin-bottom:20px;
    padding:0px;
    height:25px;
    #JS-selectResponse{
        z-index:10;
        border: 1px solid @textInputBorder;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius:2px;
        height:25px;
        width:100%;
        #JS-selectResponseText{
            float:left;
            font-family:Arial, sans-serif;
            padding-left:5px;
            font-size:13px;
            line-height:25px;
        }
        #JS-responseImg{
            float:right;
            margin-right: 3px;
            margin-top: 3px;
            width:15px;
            height:17px;
            }
    }
    select{
        z-index:20;
        position: absolute;
        bottom: 0px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.01)";
      /* IE 5-7 */
      filter: alpha(opacity=1);
      /* Good browsers */
      opacity: 0;
      height:100%;
      width:100%;
      font-family:Arial, sans-serif;
      background: @textInputBackground;
       outline: none;
        font-size:13px;
        line-height:18px;
        color: @labelcolour;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    	box-shadow: none;    
    //vertical-align:middle;
        option{
                font-family:Arial, sans-serif;
            font-size:13px;
            line-height:18px;
            padding-left:3px;
            color: @labelcolour;
            //line-height:2px;
            //height:25px;
        }
    }   
}

    input[type="text"]:focus{
        background: @textInputActive;
        border-color: @textInputActiveBorder;
    }
.submitSurround{
  float: left;
  clear: left;
  width: 100%;
  border-top:1px @submitDivTop solid;
  background-color: #F5F5F5;
  padding:20px;
  .clearButton{
      font-family:Arial, sans-serif;
      font-size:13px;
      line-height:18px;
      float:left;
      margin: 0px 20px 0px 0px;
      height:25px;
  	  cursor: pointer;
          div{
              color : @clearButtonTextColor;
              margin-top:3px;
              font-weight:normal;
            }
      }
    .clearButton:hover, .clearButton:active{
      div{
          color: @clearButtonTextColorHover;
           text-decoration:underline;
      text-decoration-color: @clearButtonTextColorHover;
          }
      }
     .submitButton:hover, .submitButton:active{
         border-radius:3px;
        background : @submitButtonHoverBackground;   
//        filter:none;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorStr= @submitButtonHoverBackgroundIE, endColorStr= @submitButtonHoverBackgroundIE,GradientType=0 ); /* IE6-9 */
     }
  .submitButton {
  	float: left;
    height:25px;
    margin-right:20px;
    margin-bottom:0px;
  	clear: left;
  	cursor: pointer;
  border-radius:3px;
   padding: 2px 11px 0 11px;
    border:1px @submitButtonBorder solid;
    border-bottom:1px @submitButtonBorderBottom solid;
    border-radius:3.1px; //3.1px because IE10's rendering algorithm for gradients is a bit borked.
    background: @submitButtonBackground;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYTFiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDdlYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, @submitButtonGradientTop 0%, @submitButtonGradientBottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@submitButtonGradientTop), color-stop(100%,@submitButtonGradientBottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @submitButtonGradientTop 0%,@submitButtonGradientBottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @submitButtonGradientTop 0%,@submitButtonGradientBottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @submitButtonGradientTop 0%,@submitButtonGradientBottom 100%); /* IE10+ */
    background: linear-gradient(to bottom, @submitButtonGradientTop 0%,@submitButtonGradientBottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorStr=@submitButtonGradientTopIE, endColorStr=@submitButtonGradientBottomIE,GradientType=0 ); /* IE6-9 */
     div{
        font-size:13px;
        font-weight:bold;
        font-family:Arial, sans-serif;
        line-height:18px;
        color:@submitButtonFontColor;
    }
  }
}
  .Warning{
      border:1px solid @failBorderColour;
      background-color: @failBackgroundColour;
    padding-bottom:10px;
    margin-bottom:20px;
    .message{
        color:@failTextColour
        }
  }
  .Success{
    border:1px solid @successBorderColour;
  	background-color: @successBackgroundColour;
    margin-bottom:20px;
    padding-bottom:10px;
    .message{
        color:@successTextColour;
        }
  }
  
  .queryResults{
      ul{
          margin:0px;
          padding:0px;
          li{
              list-style:none;
              }
          }
      margin-top:20px;
      float:left;
      clear:left;
      .resultsHeader{
          margin-bottom:10px;
          font-family: Arial, sans-serif;
          font-weight:bold;
          font-size:13px;
          line-height:18px;
          color: @paragraphHeader;
          }
      .results, .resultsLabel{
          font-weight:normal;
          font-family:Arial, sans-serif;
          font-size:13px;
          line-height:18px;
          color: @paragraphHeader;
          }
      .results{
      	float:left;
      }
      .resultsLabel{
      	float:left;
      	clear:left;
      }
      
}
  .Error {
      border-radius:3px;
    //  padding-top:18px;
  	display:none;
  	float: left;
  	clear: left;
      .message{
          float:left;
         
          white-space: nowrap;
          margin:14px 10px 0 0;
          font-family:Arial, sans-serif;
          font-weight:bold;
          font-size:13px;
          line-height:18px;
          }
    .succ{
        background:url("../images/successGreen.png");
        //<a href="http://thenounproject.com/noun/check-mark/#icon-No2783" target="_blank">Check Mark</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project
    }
    .fail{       
        background:url("../images/alertError.png");
    }
     .succ, .fail{
         float:left;
        margin:10px;
        margin-bottom:0px;
        width:26px;
         height:26px;
     }
  }
}